@import 'libs/fonts';
@import 'libs/bootstrap-reboot.min';

@import 'base/variables';

* {
    box-sizing: border-box;
    font-family: 'ProximaNova';
    padding: 0;
    margin: 0;
}

.container {
    width: 1250px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/services';
@import 'blocks/footer-block';
@import 'blocks/too';
@import 'blocks/advantages';
@import 'blocks/cases';
@import 'blocks/scheme';
@import 'blocks/reviews';
@import 'blocks/consultation';
@import 'blocks/necessity';
@import 'blocks/licenses';
@import 'blocks/questions';
@import 'blocks/address';
@import 'blocks/footer';

@import 'blocks/media';