.cases {
    padding-top: 80px;
    &__wrapper {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
    }
    &__block {
        padding: 112px 70px 87px 45px;
        width: 592px;
        height: 445px;
        background: #FFFFFF;
        box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.05);
        &-solution {
            border: 3px solid #1C3E76;
        }
        &-title {
            margin-left: 25px;
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            color: var(--main-color);
            &-solution {
                color: #1C3E76;
            }
        }
        &-descr {
            margin-top: 28px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #777777;
        }
    }
}